<launch>
    <!-- launching robot Description and gazebo -->
    <!-- world should be saved in "usr/share/gazebo-7/worlds"-->
    <!-- Worlds avaliable cube.world, moon_surface.world & empty.world" -->
    <include file="$(find rover_description)/launch/rover_description.launch">
        <arg name="world_file"              value="worlds/moon_surface.world"/>
        <arg name="gui_state"               value="false"/>
        <arg name="enable_manual_cmd_vel"   value="true"/>
    </include>

    <!-- Mapping launch file -->
    <include file="$(find rover_nav)/launch/octo_mapping.launch"/>
    
    <!-- Loading the gridmap filter chain -->
    <rosparam file="$(find rover_nav)/config/grid_map/filters.yaml" command="load" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find rover_nav)/config/move_base/nav_3d_costmap_params.yaml"      command="load" ns="global_costmap"/>
        <rosparam file="$(find rover_nav)/config/move_base/nav_3d_costmap_params.yaml"      command="load" ns="local_costmap"/>
        <rosparam file="$(find rover_nav)/config/move_base/base_local_planner_params.yaml"  command="load"/>
        
        <param name="base_global_planner"   value="planner_3d/Planner3D"/>
        <param name="controller_frequency"  value="1.0"/>
        <param name="planner_frequency"     value="1.0"/>
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find rover_nav)/rviz/octomap_sim.rviz"/>

    <node pkg="rover_nav" type="goal_publisher.py" name="goal_publisher"/>
</launch>