<launch>
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find rover_nav)/custom_rosconsole.conf"/>

    <!-- launch robot description and gazebo -->
    <include file="$(find leo_gazebo)/launch/leo_gazebo.launch" pass_all_args="true">
        <arg name="world_name" value="$(find marsyard)/worlds/marsyard.world"/>
        <arg name="gui" value="true"/>
    </include>

    <!-- temporarly publish map -> odom tf untill a localiser is used -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_2_odom_broadcaster" args="0 0 0 0 0 0 map odom" />

    <!-- Convert ground truth odometery to tf -->
    <node name="message_to_tf" pkg="message_to_tf" type="message_to_tf" output="screen">
        <param name="frame_id" type="string" value="odom" />
        <param name="child_frame_id" type="string" value="base_link" />
        <param name="footprint_frame_id" type="string" value="base_link" />
        <param name="stabilized_frame_id" type="string" value="base_link" />
        <param name="odometry_topic" type="string" value="/ground_truth/state" />
    </node>

    <!-- Publish global grid_map -->
    <node name="grid_map_pcl_loader_node" pkg="grid_map_pcl" type="grid_map_pcl_loader_node" output="screen">
        <rosparam file="$(find grid_map_pcl)/config/parameters.yaml" />
        <param name="folder_path" type="string" value="$(find rover_nav)/data" />
        <param name="pcd_filename" type="string" value="mars_yard_map.pcd" />
        <param name="map_rosbag_topic" type="string" value="grid_map" />
        <param name="output_grid_map" type="string" value="elevation_map.bag" />
        <param name="map_frame" type="string" value="map" />
        <param name="map_layer_name" type="string" value="elevation" />
        <param name="set_verbosity_to_debug" type="bool" value="false" />
    </node>

    <!-- Loading the gridmap filter chain -->
    <rosparam file="$(find rover_nav)/config/grid_map/filters.yaml" command="load" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find rover_nav)/config/move_base/common_costmap_params.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find rover_nav)/config/move_base/common_costmap_params.yaml" command="load" ns="local_costmap"/>
        <rosparam file="$(find rover_nav)/config/move_base/global_costmap.yaml" command="load"/>
        <rosparam file="$(find rover_nav)/config/move_base/local_costmap.yaml" command="load"/>
        <rosparam file="$(find rover_nav)/config/move_base/base_local_planner_params.yaml" command="load"/>

        <param name="base_global_planner" value="planner_3d/Planner3D"/>
        <param name="controller_frequency" value="10.0"/>
        <param name="planner_frequency" value="5.0"/>
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find rover_nav)/rviz/octomap_sim.rviz"/>

    <node pkg="rover_nav" type="goal_publisher.py" name="goal_publisher"/>
</launch>