<launch>
  <!-- launching robot Description and gazebo -->
  <include file="$(find rover_description)/launch/rover_description.launch"/>

  <!-- Mapping launch file -->
  <include file="$(find rover_nav)/launch/octo_mapping.launch"/>

  <!-- <node pkg="tf" type="static_transform_publisher" name="map_cam_tf/" args="0 0 0.77 0 0 0 1 t265_odom_frame t265_link 10"/> -->

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find rover_nav)/rviz/octomap_sim.rviz"/>

</launch>
